<dl data-unit-price-container style="display:inline-grid"class="unit-price{% if item.unit_price_measurement %} unit-price--available{% endif %}">
  <dt>
    <span class="visually-hidden visually-hidden--inline">{{ 'products.product.unit_price_label' | t }}</span>
  </dt>
  <dd style="margin-bottom:0px" class="unit-price__price{% if item.unit_price_measurement %} unit-price--available{% endif %}">
    {%- capture unit_price_separator -%}
    <span aria-hidden="true">/</span><span class="visually-hidden">{{ 'general.accessibility.unit_price_separator' | t }}&nbsp;</span>
    {%- endcapture -%}
    {%- capture unit_price_base_unit -%}
      <span data-unit-price-base-unit>
        {%- if item.unit_price_measurement -%}
          {%- if item.unit_price_measurement.reference_value != 1 -%}
            {{- item.unit_price_measurement.reference_value -}}
          {%- endif -%}
          {{ item.unit_price_measurement.reference_unit }}
        {%- endif -%}
      </span>
    {%- endcapture -%}

   {%if item.unit_price != blank %} <div style="color:{{color_Price}} !important"><span data-unit-price>{{ item.unit_price | money }}</span>{{- unit_price_separator -}}<span data-unit-base>{{- unit_price_base_unit -}}</span></div>{%endif%}

  </dd>
</dl>