<!doctype html>
  <html class="no-js" lang="{{ request.locale.iso_code }}" style="--announcement-height: 1px; overflow-x: hidden">
  <head>
  {% render 'pagefly-head' %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <link rel="canonical" href="{{ canonical_url }}">
    <link rel="preconnect" href="https://cdn.shopify.com" crossorigin>
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.js" type="text/javascript"></script>
     <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" type="text/javascript"></script>

    
   {{ "subscription-builder.css" | asset_url | stylesheet_tag }}
   {{ "foundationStyle.scss.css" | asset_url | stylesheet_tag }}
    {{ "bundle-optimized.scss.css" | asset_url | stylesheet_tag }}
    {{ "sub-popup.css" | asset_url | stylesheet_tag }}
     <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick-theme.css"/>
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.css"/>
     
    {%- if settings.favicon != blank -%}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png">
    {%- endif -%}
  
    {%- capture seo_title -%}
      {%- if request.page_type == 'search' and search.performed == true -%}
        {{ 'search.heading' | t: count: search.results_count }}: {{ 'search.results_with_count' | t: terms: search.terms, count: search.results_count }}
      {%- else -%}
        {{ page_title }}
      {%- endif -%}
      {%- if current_tags -%}
        {%- assign meta_tags = current_tags | join: ', ' -%} &ndash; {{ 'general.meta.tags' | t: tags: meta_tags -}}
      {%- endif -%}
      {%- if current_page != 1 -%}
        &ndash; {{ 'general.meta.page' | t: page: current_page }}
      {%- endif -%}
      {%- assign escaped_page_title = page_title | escape -%}
      {%- unless escaped_page_title contains shop.name -%}
        &ndash; {{ shop.name }}
      {%- endunless -%}
    {%- endcapture -%}
    <title>{{ seo_title | strip }}</title>
  
    {%- if page_description -%}
      <meta name="description" content="{{ page_description | escape }}">
    {%- endif -%}
  
    {% render 'social-meta-tags' %}
  
    {% render 'theme-setup' %}
    {% render 'theme-setting-vars' %}
    {{ 'theme.css' | asset_url | stylesheet_tag }}
    {{ "subscription-builder.css" | asset_url | stylesheet_tag }}

    {{ content_for_header }}
  
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/NJHBBh0RvoArR79Ui2qbGg" async></script>
    <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/XpzGzcqrCJ3uY9JKNErKVw" async></script>
    
      {%- unless template == "index" or template.name == "collection" -%}
      <!--     Yotpo -->
        {%- assign yotpo_offload_content = shop.metafields.yotpo.yotpo_offload_content %}
        {%- assign time_now = 'now' | date: '%s' %}
        {%- assign yotpo_live_time = shop.metafields.yotpo.yotpo_live | date: '%s' %}
        {%- assign diffSeconds = time_now | minus: yotpo_live_time %}
        {%- if yotpo_offload_content == 'yes' and diffSeconds < 86400 -%}
        {{ 'yotpo-full-css.css' | asset_url | stylesheet_tag }}
        {%- endif -%}
        <!-- YOTPO JS -->
        <script type="text/javascript">
            (function e(){var e=document.createElement("script");e.type="text/javascript",e.async=true,e.src="//staticw2.yotpo.com/7k7B8blEwZIYmTppPBdaqba57nUqAJgavZQZNNc6/widget.js";var t=document.getElementsByTagName("script")[0];t.parentNode.insertBefore(e,t)})();
        </script>
        <script src="https://cdn-widgetsrepository.yotpo.com/v1/loader/XpzGzcqrCJ3uY9JKNErKVw" async></script>
      {%- endunless -%}
    
    
  
    {% render 'easy-gdpr-settings' %}
  
    
  <!-- Hotjar Tracking Code for https://www.vejo.com -->
  <script>
      (function(h,o,t,j,a,r){
          h.hj=h.hj||function(){(h.hj.q=h.hj.q||[]).push(arguments)};
          h._hjSettings={hjid:2964565,hjsv:6};
          a=o.getElementsByTagName('head')[0];
          r=o.createElement('script');r.async=1;
          r.src=t+h._hjSettings.hjid+j+h._hjSettings.hjsv;
          a.appendChild(r);
      })(window,document,'https://static.hotjar.com/c/hotjar-','.js?sv=');
  </script>
    <!-- Google Tag Manager -->
  <script>
    window.dataLayer = window.dataLayer || [];
    </script>
    <script>
      (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
      new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
      j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
      'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
      })(window,document,'script','dataLayer','GTM-5TLBC9Q');
    </script>
    <!-- End Google Tag Manager -->
  </head>
  {%- include 'loading-overlay' -%}
  <body
    class="template-{{ request.page_type | handle }}{% if settings.enable_sticky_header %} header-sticky{% endif %}"
    {% if settings.cart_enable_ajax %}
      data-enable-cart-ajax="true"
    {% endif %}
  >
<script>window.KlarnaThemeGlobals={};{%case template.name%} {%when"product"%} {% if product.first_available_variant.price %}window.KlarnaThemeGlobals.data_purchase_amount = {{ product.first_available_variant.price }};{% endif %}window.KlarnaThemeGlobals.productVariants={{product.variants|json}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%when"cart"%} window.KlarnaThemeGlobals.data_purchase_amount={{cart.total_price}};window.KlarnaThemeGlobals.documentCopy=document.cloneNode(true);{%endcase%}</script>





  
    {%- include 'cart-popup-1' -%}
    {% unless template == "page.login" %}
       {%- include 'login-popup' -%}
       {%- include 'sub-choices-popup' -%}
    {% endunless %}
    
    <div class="page">
      <div class="theme-editor-scroll-offset"></div>
  
      <div class="header__space" data-header-space></div>
      {% section 'announcement-bar' %}
      {% section 'subscription-counter' %}
      {% section 'header' %}
  
      <main id="main" class="main">
        {{ content_for_layout }}
      </main>
  
      {% section 'footer' %}
      {% section 'popup' %}
      {% render 'modal' %}
      {% render 'store-availability-drawer' %}
  
      {% if settings.enable_quick_add %}
        {% render 'quick-add-modal' %}
      {% endif %}
  
      {% if settings.enable_page_transitions %}
        <div class="page-transition" data-page-transition></div>
      {% endif %}
    </div>
  
    {{ '//www.youtube.com/iframe_api' | script_tag }}
    {{ '//cdn.shopify.com/shopifycloud/shopify-plyr/v1.0/shopify-plyr.css' | stylesheet_tag }}
  
    {%- if template contains 'customers' -%}
      <script src="{{ 'shopify_common.js' | shopify_asset_url }}" defer="defer"></script>
    {%- endif -%}
  
    {% comment %}
      Set the following line to true to use the single theme.classic.js (no code-splitting, editable)
    {% endcomment %}
    {% assign useLegacyThemeJS = false %}
  
    {% if useLegacyThemeJS %}
      {% comment %}This is the classic monolithic build that is optionally used by intermediary theme devs who need to edit the JS{% endcomment %}
      <script src="{{ 'theme.classic.js' | asset_url }}" ></script>
    {% else %}
      {% comment %}This is the ES Module for modern browsers.  This features code splitting {% endcomment %}
      <script type="module" src="{{ 'theme.js' | asset_url }}" ></script>
  
      {% comment %}This is the fallback for browsers that don't support ES Modules, code-splitting is supported by systemJS{% endcomment %}
      <script nomodule src="{{ 's.min.js' | asset_url }}"></script>
      <script nomodule>
          System.import('{{ 'theme.nomodule.js' | asset_url }}');
      </script>
    {% endif %}
  
    {% comment %}
      Set the following line to true to import custom-events.js
    {% endcomment %}
    {% assign useCustomEvents = true %}
  
    {% if useCustomEvents %}
      <script src="{{ 'custom-events.js' | asset_url }}" ></script>
    {% endif %}
    
    
  
    {% render 'upsell-now', customer: customer, product: product, template: template, cart: cart %}
     <script async type="text/javascript" src="https://static.klaviyo.com/onsite/js/klaviyo.js?company_id=LKpY5Y"></script>
  
    </body>
  </html>
  
  <script>
function getRechargeInfo(email, redirectUrl){
        $.ajax({
          method:'POST',
          url: "https://shopify-stage.vejo.com/getrechargeinfo",
          data: {
            "email": email.replace("+", "%2B"),
            "shopify_id": "" 
          },
          success: function(result){
            localStorage.setItem("rechargeInfo", JSON.stringify(result))
            if (window.location.href=="https://www.vejo.com/pages/subscription-builder") {
          window.location.href = redirectUrl;
              console.log("redirectUrl " , redirectUrl)
              
          setTimeout(() => {
          window.location.href = "https://www.vejo.com/pages/subscription-builder";
          localStorage.setItem('userLoggedIn', 'true');
            
          }, "1000")
              }
            else {
                        window.location.href = redirectUrl;

            }
            // setTimeout(function() {	
            //   $(".auth0-form__box").removeAttr("hidden")
            // }, 2000)
          },
        });
      }
    
    function showLoader(text) {
      $('.loading-overlay-bg').css('display','flex')
      $('.loading-overlay-box').html(text)
    }
    
    function getSubId(productId) {
      let subMap = {
        39487813681246: {'subId': 39745975615582},
        39487813582942: {'subId': 39745975910494},
        39487812501598: {'subId': 39745975844958},
        39487814074462: {'subId': 39745975681118},
        39487862210654: {'subId': 39745975648350},
        39493239144542: {'subId': 39745975812190},
        39487813091422: {'subId': 39745975779422},
        39606476013662: {'subId': 39745976467550},
        39487804375134: {'subId': 39745976205406},
        39487861850206: {'subId': 39745975713886},
        39487862538334: {'subId': 39745975746654},
        39487862603870: {'subId': 39745976041566}
      }

      if(subMap[productId] === undefined){
        return 0
      }
      
      return subMap[productId]['subId']
    }
  
    function mainAddToCart(qty, id) {
      console.log('getSubId(id)', getSubId(id))
      let properties = {}

      if(getSubId(id) == 0){
        properties.subscription = true,
        properties.subscription_id = id,
        properties.shipping_interval_unit_type = "Months",
        properties.shipping_interval_frequency = "1"
      }
      
      jQuery.post('/cart/add.js', {
          quantity: qty,
          id: id,
          properties: properties
      }, function(data){
          localStorage.setItem("openQuickCart", "true")
          window.location.reload()
      })
    }
  
    function openSubPopup(product){ 
     {% if customer %}
       let rechargeInfo = JSON.parse(localStorage.getItem("rechargeInfo"))
       let rechargeId = rechargeInfo == undefined ? '' : rechargeInfo['customer'] == null ? '' : rechargeInfo['customer']['hash']
       if(rechargeId !== ''){
         localStorage.setItem("productName", product.title)
         window.location.href = "https://www.vejo.com/pages/myaccount#/"
       } else {
         mainAddToCart(parseInt($('.product__input--quantity').val()), getSubId(product.variants[0].id))
       }
     {% else %}
       if(localStorage.getItem('hasNoSub') === 'true'){
         mainAddToCart(parseInt($('.product__input--quantity').val()), getSubId(product.variants[0].id))
       } else{
         localStorage.setItem('hasNoSub', true)
         $('.sub-choices-popup-bg').css('display','flex')
         $('.sub-choices-popup-bg').attr('productId', getSubId(product.variants[0].id))
         $('.sub-choices-popup-bg').attr('productName', product.title)
         $('.sub-choices-popup-bg').attr('productQty', parseInt($('.product__input--quantity').val()))
       }
     {% endif %}
    }
  
    function login(isSignup){
      $('#close-drawer').trigger('click')
      if(isSignup){
       $('#signupBtn').trigger('click')
      } else {
        localStorage.setItem('comingFromCart', false)
        $('#loginBtn').trigger('click')
      }
      $('.popup-login-bg').css('display','flex')
    }

    function reChargeProcessCart() {
      function get_cookie(name){ return( document.cookie.match('(^|; )'+name+'=([^;]*)')||0 )[2] }
      do { token=get_cookie('cart'); } while(token == undefined);
      var myshopify_domain='{{ shop.permanent_domain }}'
      try { var ga_linker = ga.getAll()[0].get('linkerParam') } catch(err) { var ga_linker ='' }
      var customer_param = '{% if customer %}customer_id={{customer.id}}&customer_email={{customer.email}}{% endif %}'
      checkout_url= "https://checkout.vejo.com/r/checkout?myshopify_domain="+myshopify_domain+"&cart_token="+token+"&"+ga_linker+"&"+customer_param;
      return checkout_url;
    }
    
    async function checkout() {
      let subs = await checkCart()
      if(subs >= 5) {
        {% if customer %}
          window.location.href = reChargeProcessCart()
        {% else %}
          localStorage.setItem('comingFromCart', true)
          login(true)
        {% endif %}
      } else {
        $('.cart-popup-1-popup-bg').css('display', 'flex')
        let subsLetter = subs == 1 ? 'one' : subs == 2 ? 'two' : subs == 3 ? 'three' : subs == 4 ? 'four' : 'five'
        let remainingSubs = 5 - subs
        let remainingSubsLetter = remainingSubs == 1 ? 'one' : remainingSubs == 2 ? 'two' : remainingSubs == 3 ? 'three' : remainingSubs == 4 ? 'four' : 'five'
        let pack1 = subs == 1 ? ' 4-Pack, you must choose ' : ' 4-Packs, you must choose '
        let pack2 = subs == 4 ? ' more 4-Pack to qualify.' : ' more 4-Packs to qualify.'
        $('#cart-popup-info-text').text('You have chosen ' + subsLetter + pack1 + remainingSubsLetter + pack2)
      }
    }
          async function checkout2() {

    
        {% if customer %}
          window.location.href = reChargeProcessCart2()
        {% else %}
          localStorage.setItem('comingFromCart', true)
          login(true)
        {% endif %}
     
    }
           function reChargeProcessCart2() {
      function get_cookie(name){ return( document.cookie.match('(^|; )'+name+'=([^;]*)')||0 )[2] }
      do { token=get_cookie('cart'); } while(token == undefined);
      var myshopify_domain='{{ shop.permanent_domain }}'
      try { var ga_linker = ga.getAll()[0].get('linkerParam') } catch(err) { var ga_linker ='' }
      var customer_param = '{% if customer %}customer_id={{customer.id}}&customer_email={{customer.email}}{% endif %}'
      checkout_url= "https://checkout.vejo.com/r/checkout?myshopify_domain="+myshopify_domain+"&cart_token="+token+"&"+ga_linker+"&"+customer_param+"&discount=VEJOMATIC";
      return checkout_url;
    }
    async function reloadSubBanner() {
      let subs = await checkCart()
      $('#currentSubCount').text(subs)
    }
    
    $(document).ready(function() {    
      if(window.location.href === 'https://www.vejo.com/'){
        {% if customer %}
          let rechargeInfo = JSON.parse(localStorage.getItem("rechargeInfo"))
          let rechargeId = rechargeInfo == undefined ? '' : rechargeInfo['customer'] == null ? '' : rechargeInfo['customer']['hash']
          if(rechargeId === ''){
            getRechargeInfo(`{{ customer.email }}`)
          }
        {% else %}
          localStorage.removeItem('rechargeInfo')
        {% endif %}
      }
      
      $(".auth0-form__box").removeAttr("hidden")
      
      $('.cart__item-button--minus').on('click', function(){
        showLoader('Updating your cart...')
      })

      $('.cart__item-button--plus').on('click', function(){
        showLoader('Updating your cart...')
      })

      $('.cart-item__remove').on('click', function(){
        showLoader('Updating your cart...')
      })
      
      if(localStorage.getItem("openQuickCart") == "true") {
        localStorage.setItem("openQuickCart", "false")
        $('#quick_cart_icon').click(function() {
            this.click();
        }).click();
      }
    })
  </script>
  